.home {
  padding-right: 0px !important;
  padding-left: 0px !important;

  .category-label {
    color: white;
    margin: 15px 0px 5px 5px;
  }

  .awssld--organic-arrows {
    height: 60vh;

    .awssld__wrapper {
      border-bottom: 1px solid rgb(187, 187, 187);

      .awssld__container {
        height: 60vh;

        .awssld__content {
          height: unset !important;
          background-color: unset;

          .slider-images{
            height: 60vh;
          }
        }
      }
    }
  }

  .home-content {
    padding-left: 10px;
    padding-right: 10px;

    .heading {
      color: white;
      text-align: center;
    }

    .product-card-body {
      padding: 0px;
      padding-top: 1.25rem;
      padding-bottom: 0.25rem;
      background-color: black;

      .product-box {
        .product-ribbon {
          position: absolute;
          top: 15px;
          z-index: 100;
          left: 15px;
          padding: 6px 8px;
        }

        .product-img {
          display: flex;
          justify-content: center;
          margin-top: 13px;
        }

        .product-content {
          padding: 10px 0px;

          .product-name {
            color: white;
          }
        }
      }
    }
  }
}
