.home {
  padding-right: 0px !important;
  padding-left: 0px !important;

  .category-label {
    color: white;
    margin: 15px 0px 5px 5px;
  }

  .awssld--organic-arrows {
    height: 60vh;

    .awssld__wrapper {
      border-bottom: 1px solid rgb(187, 187, 187);

      .awssld__container {
        height: 60vh;

        .awssld__content {
          height: unset !important;
          background-color: unset;

          .slider-images {
            height: 60vh;
          }
        }
      }
    }
  }
}

.home-content {
  padding-left: 10px;
  padding-right: 10px;

  .heading {
    color: white;
    text-align: center;
  }

  .product-card-body {
    padding: 0px;
    // padding-top: 1.25rem;
    padding-bottom: 0.25rem;
    background-color: black;

    .product-box {
      .product-ribbon {
        position: absolute;
        top: 15px;
        z-index: 100;
        left: 15px;
        padding: 6px 8px;
      }

      .product-img {
        display: flex;
        justify-content: center;
        margin-top: 25px;
      }

      .product-content {
        padding: 10px 0px;

        .product-name {
          color: white;
        }
      }
    }
  }
}

.sign-in-form,
.sign-up-form {
  display: flex;
  justify-content: center;
  height: 70vh;
  align-items: center;
  color: white;

  h2 {
    color: white;
  }

  .sign-in-container {
    margin-top: 10px;
    text-align: center;
  }

  #user_remember_me {
    width: unset !important;
    margin-top: 6px;
  }

  input {
    width: 100% !important;
  }
}
