// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "../custom/scss/theme.scss";

.product-image {
    width: 200px;
    height: 200px;
}

.background-color {
    background-color: black;
}

button {
    background-image: none;
    background-color: transparent;
    box-shadow: none;

    &:active {
        background-image: none !important;
        background-color: transparent !important;
        box-shadow: none !important;
    }

    &:hover {
        background-image: none !important;
        background-color: transparent !important;
    }
}
